

.box {
    position: relative;
    border: 1px solid #000;
}

.portrait1 {
    position: absolute;
    object-position: -50px;
    left: 80px;
    width: 39%;
}

.portrait2 {
    position: absolute;
    object-position: 150px;
    top: 90px;
    right: 150px;
    width: 33%;
}

.textbox {
    position: absolute;
    top: -300px;
    right: -325px;
    width: 110%;
}

.title {
    position: absolute;
    font-family: Verdana;
    font-weight: bold;
    font-size: xx-large;
    top: 445px;
    left: 225px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.text {
    position: absolute;
    font-family: Verdana;
    font-size: x-large;
    top: 510px;
    left: 225px;
    color: rgb(255, 255, 255);
    padding: 10px;
}