* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100dvh;
	width: 100dvw;

	background: #212121;
}

.center {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.container {
	display: grid;
	grid-template: "container" 100% / 100%;
	place-items: center;
	place-content: center;

	border: 2px solid black;

	width: 100dvmin;
	aspect-ratio: 4/3;
}

.background,
.avatars,
.ui {
	grid-area: container;
	display: grid;

	height: 100%;
	width: 100%;
}

.avatars {
	grid-template-rows: 18% 80% 2%;

	--border: minmax(0, 1fr);
	--avatar-width: minmax(auto, 40%);
	grid-template-columns: var(--border) var(--avatar-width) minmax(0, 1fr) var(--avatar-width) var(--border);
}

.portrait1,
.portrait2 {
	height: 0;
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	align-self: flex-end;
}

.backimg {
	width: 100%;
	align-self: flex-end;
}

.portrait1 {
	grid-area: 2/2;
}

.portrait2 {
	grid-area: 2/4;
}

.ui {
	grid-template-rows: 80% 4ch 10ch 1fr;
	grid-template-columns: 1fr 80% 1fr;
}

.textbox {
	width: 100%;
	height: 100%;
	grid-area: 2/2/4/3;
}

.title,
.text {
	font-family: Verdana;
	color: white;
}

.title {
	grid-area: 2/2;
	font-weight: bold;
	font-size: 4ch;

	overflow: visible;

	background-image: url(../assets/VN/top_box.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.text {
	background: #444444;
	grid-area: 3/2;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0.5ch;
	font-size: 0.5cm;
}